.quadrado{
    border: 3px solid black;
    width: 100px;
    height: 100px;
    margin: 10px;
    position: absolute;
    background-color: coral;
}

.Quadrado2{
    left: 0px;
    bottom: 0px;
    background-color: aqua;

}
.Quadrado3{
    left: 0px;
    top: 0px;
    background-color: aquamarine;
}

.Quadrado4{
    right: 0px;
    bottom: 0px;
    background-color: blue;
}